<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- 商品分类 -->
      <div class="classification">
        <ul>
            <li style="background-color: #fff;">所有商品</li>
            <li>男士理容</li>
            <li>护发养发</li>
            <li>口腔护理</li>
            <li>足部护理</li>
            <li>配件系列</li>
        </ul>
        <div class="list">
            <div style="display: block;">
                <h2>所有商品</h2>
                <ul>
                    <li>
                        <img src="../img/d1.jpg!q80" alt="">
                        <p>所有商品</p>
                    </li>
                </ul>
            </div>
            <div style="display: none;">
                <h2>男士理容</h2>
                <ul>
                    <li>
                        <img src="../img/d2.jpg!q80" alt="">
                        <p>入门推荐</p>
                    </li>
                    <li>
                        <img src="../img/d3.jpg!q80" alt="">
                        <p>IP联名款</p>
                    </li>
                    <li>
                        <img src="../img/d4.jpg!q80" alt="">
                        <p>智能LED显示</p>
                    </li>
                    <li>
                        <img src="../img/d5.jpg!q80" alt="">
                        <p>送礼推荐</p>
                    </li>
                    <li>
                        <img src="../img/d6.jpg!q80" alt="">
                        <p>鼻毛修剪器</p>
                    </li>
                    <li>
                        <img src="../img/d7.jpg!q80" alt="">
                        <p>理发器</p>
                    </li>
                </ul>
            </div>
            <div style="display: none;">
                <h2>护发养发</h2>
                <ul>
                    <li>
                        <img src="../img/d8.jpg!q80" alt="">
                        <p>点吹风</p>
                    </li>
                    <li>
                        <img src="../img/d9.jpg!q80" alt="">
                        <p>送礼推荐</p>
                    </li>
                    <li>
                        <img src="../img/d10.jpg!q80" alt="">
                        <p>卷直发器</p>
                    </li>
                    <li>
                        <img src="../img/d11.jpg!q80" alt="">
                        <p>智能护理</p>
                    </li>
                </ul>
            </div>
            <div style="display: none;">
                <h2>口腔护理</h2>
                <ul>
                    <li>
                        <img src="../img/d8.jpg!q80" alt="">
                        <p>入门优选</p>
                    </li>
                    <li>
                        <img src="../img/d9.jpg!q80" alt="">
                        <p>净白系列</p>
                    </li>
                    <li></li>
                </ul>
            </div>
            <div style="display: none;">
                <h2>足部护理</h2>
                <ul>
                    <li>
                        <img src="../img/e1.jpg!q80" alt="">
                        <p>嫩滑美足</p>
                    </li>
                    <li>
                        <img src="../img/e21.jpg!q80" alt="">
                        <p>IP联名款</p>
                    </li>
                    <li>
                        <img src="../img/e3.jpg!q80" alt="">
                        <p>摸头配件</p>
                    </li>
                </ul>
            </div>
            <div style="display: none;">
                <h2>配件系列</h2>
                <ul>
                    <li>
                        <img src="../img/e4.jpg!q80" alt="">
                        <p>理容配件</p>
                    </li>
                    <li>
                        <img src="../img/e5.jpg!q80" alt="">
                        <p>摸头配件</p>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>