<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="inners">
        <!-- 家装节 -->
        <div class="decoration">
            <div class="shopping">
                <ul>
                    <li>
                        <img src="../img/c1.jpg!q80" alt="">
                        <p>爆款秒杀</p>
                        <span>¥69.0</span>
                    </li>
                    <li>
                        <img src="../img/c2.jpg!q80" alt="">
                        <p>好评度98%</p>
                        <span>¥29.0</span>
                    </li>
                    <li>
                        <img src="../img/c3.jpg!q80" alt="">
                        <p>好评度96%</p>
                        <span>¥39.0</span>
                    </li>
                </ul>
            </div>
            <!-- 限时秒杀 -->
            <div class="seckill">
                <h2>限时秒杀</h2>
                <div class="content">
                    <div class="box">
                        <img src="../img/c1.jpg!q80" alt="">
                        <div class="right">
                            <p class="ellipsis">小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W</p>
                            <span>满65-减6
                            </span>
                            <div class="bootom">
                                <p><span>¥</span>59</p>
                                <div class="painc">
                                    <span>去抢购</span>
                                    <p>14:00:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 热销榜单 -->
            <div class="hot">
                <h2>热销榜单</h2>
                <div class="box">
                    <p>
                        <span>电吹风榜</span>
                        <span>剃须刀榜</span>
                    </p>
                    <ul>
                        <li>
                            <img src="../img/c1.jpg!q80" alt="">
                            <p>小适小米有品有售家用电吹风机</p>
                            <span>99.9w人买过</span>
                        </li>
                        <li>
                            <img src="../img/c4.jpg!q80" alt="">
                            <p>小适小米有品有售家用电吹风机</p>
                            <span>99.9w人买过</span>
                        </li>
                        <li>
                            <img src="../img/c5.jpg!q80" alt="">
                            <p>小适小米有品有售家用电吹风机</p>
                            <span>99.9w人买过</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="venue">
                <img src="../img/zhc.png" alt="">
            </div>
            <!-- 为你推荐 -->
            <div class="recommend">
                <h2>为你推荐</h2>
                <div class="list">
                    <ul>
                        <li>
                            <img src="../img/a1.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>65</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a2.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>89</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评9%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a3.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>129</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评96%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a4.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>29</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a1.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>65</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a2.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>89</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评9%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a3.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>129</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评96%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a4.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>29</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a1.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>65</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a2.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>89</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评9%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a3.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>129</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评96%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a4.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>29</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a1.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>65</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a2.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>89</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评9%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a3.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店剃须刀热销第1名</span>
                                <p>¥<i>129</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评96%</span></p>
                            </div>
                        </li>
                        <li>
                            <img src="../img/a4.jpg!q80" alt="">
                            <div class="content">
                                <p class="ellipsis-2">
                                    <span>热销</span>
                                    小适小米有品有售家用电吹风机便携1800W大功率2000万负离子吹风筒 A1-W
                                </p>
                                <span>本店电吹风热销第1名</span>
                                <p>¥<i>29</i>.00 <span>满减</span></p>
                                <p>50万+条评价 <span>好评98%</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>